.login-form-container {
  width: 300px;
  margin: auto;
  border: 1px solid black;
  padding: 25px;
}

.registration-form-container {
  width: 400px;
  margin: auto;
  border: 1px solid black;
  padding: 25px;
}
